
<div class="header-component">
<main class="main-area">
  <div class="centered">
    <section class="menu-section">
      <div class="nav-mixed menu">
        <nav id="multi-level-nav" class="multi-level-nav" role="navigation">
          <ul>
            <li><a>Logo</a></li>
            <li><a>Portal</a></li>
            <li><a>Tags</a></li>
         <li class="has-children new">
              <a (click)="toggleDropdown()">New</a>
              <ul class="sub-menu" [ngClass]="isOpenDropdown ? 'visble' : 'not-visble' " >
                <li (click)="goToRoute('test-form')"><a>New DSA</a></li>
                <li><a>New Dataset</a></li>
                <li><a>New Process</a></li>
                <li><a>New Solution</a></li>
              </ul>
            </li>
            <li class="has-children">
              <a (click)="toggleDropdown()">Lineage</a>
              <ul class="sub-menu" [ngClass]="isOpenDropdown ? 'visble' : 'not-visble' ">
                <li><a>Item 1</a></li>
                <li><a>Item 2</a></li>
              </ul>
            </li>
            <li class="has-children">
            <a  (click)="toggleDropdown()">Requests</a>
              <ul class="sub-menu" [ngClass]="isOpenDropdown ? 'visble' : 'not-visble' " >
                 <li><a>Item 1</a></li>
                <li><a>Item 2</a></li>
              </ul>
            </li>
          </ul>
        </nav>
        <!-- #multi-level-nav .multi-level-nav -->
        <nav id="social-menu" class="social-menu" role="navigation">
          <ul>
            <li><a href="https://twitter.com/bugsyAlexander"><span class="screen-reader-text">Twitter</span></a></li>
            <li><a href="https://github.com/bugsyAlexander"><span class="screen-reader-text">Github</span></a></li>
            <li><a href="https://www.linkedin.com/pub/mynor-alexander/5b/943/877"><span class="screen-reader-text">LinkedIn</span></a></li>
            <li><a href="http://dribbble.com"><span class="screen-reader-text">Dribbble</span></a></li>
            <li><a href="http://instagram.com"><span class="screen-reader-text">Instagram</span></a></li>
          </ul>
        </nav>
        <!-- .social-menu -->
      </div>
      <!-- .mixed-menu -->
    </section>
    <!-- .menu-section -->
  </div>
  <!-- .centered -->
</main>
</div>

