
	<div class="header">
    <ul class="main-nav">
         <li><a href="#">Logo</a></li>
          <li><a href="#">Portal</a></li>
          <li><a href="#">Tags</a></li>
          <li><a href="#">Lineage</a>
             <ul class="lineage-dropdown">
                 <li><a href="#">Item 1</a></li>
                 <li><a href="#">Item 2</a></li>
             </ul>
          </li>
    <li><a href="#">New</a>
        <ul class="entities-dropdown">
           <li><a href="#">New DSA</a></li>
           <li><a href="#">New Dataset</a></li>
           <li><a href="#">New Process</a></li>
           <li><a href="#">New Solution</a></li>
        </ul>
    </li>
        <li><a href="#">Requests</a>
            <ul class="requests-dropdown">
                 <li><a href="#">Item 1</a></li>
                 <li><a href="#">Item 2</a></li>
             </ul>
         </li>
      </ul>
	</div> 

