<div class="test-form-view">
<!-- <app-sidebar-navigation></app-sidebar-navigation> -->
  <app-form-generator [config]="config"></app-form-generator>

  <!-- 
  <form class="sign-up-form" [formGroup]="signupForm" (ngSubmit)="submit()">
    <app-test-form formControlName="profile"></app-test-form>

    <app-test-password-form formControlName="password"></app-test-password-form>

    <button>Sign Up</button>
    <p>Form is {{ signupForm.valid ? "Valid" : "Invalid" }}</p>

    <pre
      >{{ signupForm.value | json }}
</pre
    >
  </form> -->
</div>
